{% extends 'inst/base.html' %}
{% block content %}

    <div class="description">
        <div class="logo">Adelya</div>
    </div>

    <div class="swiper slider slider_main">
        <div class="swiper-wrapper slider__wrapper">

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/1.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/2.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/3.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/4.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/5.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/6.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/7.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/8.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/9.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/10.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/11.jpg')"></div>
            </div>
        </div>
    </div>

    <div class="swiper slider slider_bg">
        <div class="swiper-wrapper slider__wrapper">

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/1.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/2.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/3.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/4.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/5.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/6.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/7.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/8.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/9.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('/static/image/photos/10.jpg')"></div>
            </div>
            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('/static/image/photos/11.jpg')"></div>
            </div>
        </div>
    </div>
{% endblock content %}